.cache
.settings/org.scala-ide.sdt.core.prefs
.classpath
.project
bin
dev.en
dev.es
dev.key
eval_alignment.py
corpus.en
corpus.es
test.en
test.es
submit.py
wc_unique.rb
dev.out
dev.orig.out
test.out
alignment_test.p1.out
dev.model2.out
dev.model1.out
lib
correct_output
dev.model1.out.orig
lang1.params
